# Environment variables
.env

# Python
__pycache__/
*.py[cod]
*$py.class

# Virtual environment
venv/
env/
ENV/

# Output folders
*/Downloads/
*/OriginalSound/
*/OriginalSubs/
*/TranslateSubs/
*/GeneratedAudio/
*/FinalVideo/
*/GeneratedSubs/
*/FinalAudio/

# Model files
*.pt
*.pth